@namespace AnimalDeCompagnieNoSuBlazor
@inherits FeedbackComponent<string, AnimalEvent>

<div style="z-index: 999;text-align:left;margin-right:5px;">
    <b>EventType:</b><br />
    <Select DataSource="@_eventItems"
            ValueName="Value"
            DefaultActiveFirstOption="true"
            LabelName="Text"
            @bind-Value="AnimalEvent.EventType">
    </Select>
    <div style="margin: 32px" />
    <b>EventTime:</b><br />
    <DatePicker TValue="DateTime" Picker="@DatePickerType.Date" DefaultValue="DateTime.Now" Format="yyyy/MM/dd" @bind-Value="AnimalEvent.EventTime" />
    <div style="margin: 32px" />
    <b>Event:</b><br />
    <TextArea Placeholder="Autosize height based on content lines" AutoSize="true"   @bind-Value="AnimalEvent.Event" />
    <div style="margin: 32px" />
    <Button Type="primary" OnClick="AddNewEvent">Submit</Button>
</div>