@namespace AnimalDeCompagnieNoSuBlazor.Pages.Animal
@page "/animal/updateinfo/{id}"

<PageContainer Title="基本信息修改">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>主页</BreadcrumbItem>
            <BreadcrumbItem>信息墙</BreadcrumbItem>
            <BreadcrumbItem>信息修改</BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <Content>
        <span>信息修改，请尽可能的的提供详尽的信息</span>
    </Content>
    <ChildContent>
        <Card>
            <Steps Current="@_current" Class="steps">
                <Step Title="@("请填写基本信息")" />
                <Step Title="@("请上传生活照片")" />
                <Step Title="@("完成")" />
            </Steps>
            <CascadingValue Value="this">
                @switch (_current)
                {
                    case 0:
                        <AnimalModifyStep1 />
                        break;
                    case 1:
                        <AnimalModifyStep2 />
                        break;
                    case 2:
                        <AnimalModifyResult />
                        break;
                }
            </CascadingValue>
        </Card>
    </ChildContent>
</PageContainer>