@namespace AnimalDeCompagnieNoSuBlazor.Pages.Animal

<Result Status="success"
        Title="操作成功"
        SubTitle="详情数据已被更新">
    <Extra>
        <Button Type="@ButtonType.Primary" OnClick="ReturnToDetail">返回详细页面</Button>
    </Extra>
</Result>