@namespace AnimalDeCompagnieNoSuBlazor.Pages
@inherits AntDomComponentBase
@page "/calendar"

<AntDesign.Calendar DateCellRender="DateCellRender" MonthCellRender="MonthCellRender" />


@code{
    private RenderFragment DateCellRender(DateTime value)
    {
        var listData = GetListData(value);
        return@<Template>
        <ul class="events">
            @foreach (var data in listData)
            {
                <li key="@data.content">
                    <Badge Status="@data.type" Text="@data.content" />
                </li>
            }
        </ul>
    </Template>;
}
private RenderFragment MonthCellRender(DateTime value)
{
return @<Template>
    <div className="notes-month">
        <section>@value.Day</section>
        <span>Backlog number</span>
    </div>
</Template>;
}
} 